@charset "UTF-8";

@media (min-width: 768px) and (max-width: 1024px) { 
    * {
        margin: 0px;
        padding: 0px;
    }

    html, body {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to top,#f5ca85,#FFA726, #FB8C00, #EF6C00);
    }

        div#container {
            width: 700px;
            height: 250px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px black;
            color: #EF6C00;
            background-color: white;
            display: flex;
        }

            div#imgLogin {
                width: 300px;
                height: 250px;
                background-image: url(Imagens/imgLogin1.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                border-radius: 10px 0px 0px 10px;
            }

            div#login {
                width: 600px;
                height: 250px;
                background-color: rgb(255, 255, 255);
                border-radius: 0px 10px 10px 0px;           
            }
                div#login h1 {
                    text-align: center;
                    font-size: 40px;
                    padding: 0px 30px;
                    font-family: "Freeman", sans-serif;
                    margin: 0px;
                }

                div#login h2 {
                    text-align: center;
                    font-size: 17px;
                    padding: 10px;
                }

                div#login p {
                    text-align: center;
                    padding: 10px;
                }

                div#login span#loginIcon1, span#loginIcon2 {
                    margin-right: 10px;
                    padding: 4px;
                    background-color: #EF6C00;
                    color: white;
                    border-radius: 50%;
                }

                div#login input#btn, a#forgotPassword { 
                    text-align: center;
                    padding: 5px;
                    margin: 10px;
                    box-shadow: 0px 0px 2px black;
                    background-color: #EF6C00;
                    border-radius: 7px;
                    border: none;
                    color: white;
                    cursor: pointer;
                }

                div#login input.campoLogin {
                    padding: 5px;
                    color: white;
                    background-color: #EF6C00;
                    border-radius: 7px;
                    border: none;
                    transform: translateY(-6px);
                }

                div#login span#mailIcon {
                    padding: 5px;
                    transform: translateY(6px);
                }

                div#login a#forgotPassword {
                    text-decoration: none;
                    color: white;
                }

                div#login p#paddingBtnZero {
                    padding: 0px;
                }

                    div#emailField input.recoverPassword {
                        padding: 5px;
                        color: #EF6C00;
                        background-color: white;
                        border-radius: 7px;
                        border-color: #EF6C00;
                    }

                        div#emailField p#paddingZero1 {
                            margin-top: 5px;
                        }

                        div#emailField p#paddingZero2 {
                            margin-top: -20px;
                        }

                        div#emailField input#recoverPassword {
                            text-align: center;
                            padding: 5px;
                            margin: 10px;
                            box-shadow: 0px 0px 2px black;
                            background-color: #EF6C00;
                            border-radius: 7px;
                            border: none;
                            color: white;
                            cursor: pointer;
                        }
    }